@keyframes Notification-Appear {
  from {
    transform: translateY(calc(-100% - var(--size-l)));
  }
  to {
    transform: translateY(0);
  }
}

.Notification {
  width: calc(100% - var(--size-l) * 2);
  max-width: 40rem;
  position: fixed;
  top: var(--size-l);
  left: 0;
  right: 0;
  margin: 0 auto;
  animation-name: Notification-Appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.Notification-Link {
  position: absolute;
  inset: 0;
}

.Notification blockquote {
  position: relative;
  padding-right: calc(60px + var(--size-l));
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 var(--size-xs) var(--size-m) var(--light-3);
}

@media (prefers-color-scheme: dark) {
  .Notification blockquote {
    box-shadow: 0 0 var(--size-m) var(--dark-2);
    background-color: var(--dark-3);
  }
}

.Notification-CloseButton.Notification-CloseButton {
  position: absolute;
  right: var(--size-l);
  bottom: var(--size-l);
}
